.audioplayer {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity)) !important;
    height: 6rem;
    color: white;
    // background-color: #0f172a !important;
}

.rhap_current-time,
.rhap_time {
    color: #fff;
}